{% extends 'base.html' %}

{% block container %}
<div class="main-block">

        {% if success_message %}<p><span class="alert alert-success">{{ success_message }}</span></p>{% endif %}

    <form action="{% url 'seedstars:add' %}" method="POST">
    {% csrf_token %}
        {{ form.as_p }}
        <!--input class="form-control" type="email" name="email" placeholder="Email Address" /><br/>
        <input class="form-control" type="text" name="name" placeholder="Full Name" /><br/-->
        <input class="btn btn-primary form-control thin" type="submit" value="Add" />
    </form>
</div>
{% endblock %}